.personal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 100px; */
}
.personal-content,
.select-content,
.add-ons-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 75px;
  margin-bottom: 200px;
}
.personal-header,
.select-header,
.add-ons-header {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
h1 {
  font-size: 2rem;
  color: hsl(213, 96%, 18%);
  margin-bottom: 10px;
}
p {
  color: hsl(231, 11%, 63%);
}
.personal-content input {
  width: 450px;
  padding: 10px;
  border: 1px solid hsl(231, 11%, 63%);
  border-radius: 7px;
}

.personal-input p {
  margin-top: 25px;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
  margin-bottom: 5px;
}
.next-step-button {
  position: absolute;
  display: flex;
  margin-top: 525px;
  gap: 250px;
}

.step-content .active {
  background: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  font-weight: 700;
  border: 1px solid hsl(206, 94%, 87%);
}
