.submitted-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.submitted-content {
  margin-bottom: 20px;
}
.submitted-content p {
  line-height: 2;
}
.submitted-paragraph {
  max-width: 500px;
}
