.summary-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-transaction {
  display: flex;
  flex-direction: column;
  background-color: hsl(217, 100%, 97%);
  padding: 25px;
}
.button-options {
  position: absolute;
  display: flex;
  margin-top: 550px;
  gap: 250px;
}
.summary-transaction {
  min-width: 500px;
  border-radius: 10px;
}
hr {
  height: 1px;
}
.summary-plan {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0;
}
.summary-add-ons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.summary-add-ons p div {
  margin-bottom: 15px;
}

.summary-header {
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: 20px;
}
.option-price {
  margin-left: auto;
}
.summary-total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.summary-plan-choice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.total-price {
  font-size: 1.5rem;
  color: hsl(243, 100%, 62%);
}
