.summary-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.summary-transaction {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: hsl(217, 100%, 97%);
  padding: 25px;
}
.button-options {
  position: absolute;
  display: flex;
  margin-top: 550px;
  gap: 250px;
}
.summary-transaction {
  width: 450px;
  border-radius: 10px;
}
hr {
  /* height: 1px;
  background-color: #ed1d61; */
}
.summary-plan {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.summary-add-ons {
  display: flex;
  padding: 10px 0;
}
.summary-header {
  margin-right: auto;
  margin-bottom: 50px;
}
.option-price {
}
.summary-total {
  display: flex;
}
.summary-total h2 {
}
